<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Bienvenidxs a MercadoLiebre</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
        <script src="https://kit.fontawesome.com/2da8e91210.js" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="css/styles.css">
        <link rel="stylesheet" href="css/login.css">
    </head>
    <body class="login">
        <header>
            <div class="top-header">
                <div class="logo-form">
                  <div class="logo"> 
                    <img src="images/logo-mercado-liebre.svg" alt="Logo de MercadoLiebre">
                  </div>
                  <form class="form" action="#" method="GET">
                    <input class="input" input= "text" placeholder="Buscar productos, marcas y más">
                    <div class="submit"><i class="fa fa-search"></i></div>
                    </form>
                   
                </div>
                <p><i class="fas fa-hand-holding-usd"></i>Comprá en cuotas y sin tarjeta de crédito</p>                
            </div>
            <nav>
                <ul class="izquierda">
                    <li><a href="#">Ofertas</a></li>
                    <li><a href="#">Tiendas Oficiales</a></li>
                    <li><a href="#">Vender</a></li>
                    <li><a href="#">Ayuda</a></li>
                </ul>
                <ul class="derecha">
                    <li><a href="/register">Creá tu cuenta <i class="far fa-id-card"></i></a></li>
                    <li><a href="/login">Ingresá <i class="fas fa-sign-in-alt"></i></a></li>
                    <li><a href="#">Mis compras <i class="fas fa-shopping-basket"></i></a></li>
                </ul>
            </nav>
            <div class="burger-menu">
                <i class="fa fa-bars burger"></i>
            </div>
        </header>
        <main class="login">
            <form class="formulario-de-ingreso" action="/" method="POST">
                <input type="text" name="user" placeholder="Nombre de usuario"><br>
                <input type="password" name="pass" placeholder="Elegí tu contraseña"><br>
                <input class="botonlogin" type="submit" value="Enviar">
            </form>
        </main>
        <footer>
            <div>
                <i class="fa-solid fa-credit-card"></i>
                <p>
                    <em>Pagá con tarjeta o en efectivo</em> <br>
                    Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                   puntos de pago. ¡Y siempre es seguro!
                </p>
            </div>
            <div>
                <i class="fa-solid fa-gift"></i>
                <P>
                    <em>Envío gratis desde los $2.500</em> <br>            
                Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                productos. Es un beneficio de Mercado Puntos.
                </p>
            </div>
            <div>
                <i class="fa-solid fa-user-shield"></i>
                <p>
                    <em>Seguridad de principio a fin</em> <br>
                   ¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                   porque estás siempre protegid@.
                </p>
            </div>

            <span>Copyright © 1999-2020 MercadoLiebre S.R.L.</span>     
        </footer>
    </body>
</html>