
.login{
    background-color: white;
    font-family: roboto;
}

.formulario-de-ingreso{
    width: 90%;
    background-color: #ebebeb;
    margin: auto;
    margin-top: 2%;
    margin-bottom: 2%;
    padding: 5%;
    font-family: roboto;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
}

.formulario-de-ingreso input{
    font-family: roboto;
    padding: 2%;
    border-radius: 5px;
    border: oldlace;
}


.botonlogin{ background-color:  #1259c3 ;color: white} 

.botonlogin:hover{ background-color:#0022AA; color: white}   