


.register{background-color: white;}

.formularioderegistro{
     width: 90%;
     background-color:  #ebebeb;
     margin:auto;
     margin-top: 2%;
     margin-bottom: 2%;
     padding: 5% ;
     font-family: roboto;
     border-radius: 20px;
    }

.formularioderegistro input{
    font-family:roboto;
    padding: 2%;
    border-radius: 5px;
    border: oldlace;
}

.nombremail{
    padding-top: 2%;
    display: flex;
    flex-direction: column;

}

.nombremail input,
.fecha-domicilio input,
.contraseña input{ width:100%
  
}    

.archivo{ 
     width: 100%;
    font-size: 12px;}


.profile{
    display: flex;
    align-items: center;
    width: 190px;
    justify-content: space-around;
}

.interests div label { margin-left:1%}

.contraseña{
    display: flex;
    flex-direction: column;
    
}


.botones{
     display: flex;
     justify-content: space-around;
     width: 100%;
     
    }

.botones input{ width: 30%; background-color:  #1259c3 ;color: white}

.botones input:hover{background-color:#0022AA; color: white}

.fecha-domicilio p,
.nombremail p{ color: red}


